.projects-container {
  padding-top: 4.5rem;
  padding-bottom: 5.5rem;
  min-height: 100vh;
  background-color: #343947;
}

#projects-list {
  position: relative;
  /* width: 40vw; */
  width: calc(100vw - (100vw - 100%));
  top: 3.5rem;
}

.project.item {
  display: flex !important;
  align-items: center !important;
  padding: 0 !important;

  width: 100%;
  min-height: 3rem;
}

.project.content {
  width: 100% !important;
  padding: 0.25rem 1rem !important;
}

.project.list-header {
  border-top-color: #deffff00 !important;
  width: calc(100% - 3px);
  margin-left: 1.5px;
}

.item.project.list-header:hover {
  /* color: #beffff !important; */
  background-color: #deffff11;
}

.item.list-header {
  cursor: pointer;
}

.item.list-header.first {
  word-break: break-word;
  cursor: auto;
}

.item.project.list-header.first {
  z-index: 10;
  min-height: 4.5rem;
  background-color: #deffff;
  border: none !important;
  border-top: 1rem solid #343947 !important;
  top: 3.5rem;
  width: calc(100vw - (100vw - 100%));
  margin-left: 0px;
  position: fixed;
  border-radius: 0;
  padding: 0.25rem 0 !important;
}

.project.list-header:nth-of-type(even) {
  background-color: rgba(200, 200, 255, 0.06);
}

.project.list-header:last-of-type {
  border-radius: 0 0 4px 4px;
}

.action-button-container {
  position: fixed;
  width: 9rem;
}

.header-text.header.project {
  font-family: "Overlock", cursive;
  font-size: 1.4rem;
  /* text-transform: uppercase; */
  color: #222 !important;
  opacity: 1;
}

.description-text {
  word-break: break-word;
}

.description-text.project {
  position: relative;
  left: 0.5rem;
  font-size: 1.2rem;
  /* color: #deffff; */
  color: #fff;
}
.project-count-span {
  display: none;
  padding: 0.3rem 0.3rem;
  padding-top: 0.2rem;
  background-color: #befff431;
  margin: 0;
  margin-left: 1rem;
  border: 1px solid rgba(225, 255, 230, 0.301);
  /* border-radius: 45%; */
  border-radius: 25%;
}
.project.icon-button {
  filter: invert(84%) sepia(97%) saturate(13%) hue-rotate(332deg)
    brightness(116%) contrast(73%);
}

.project.icon-button.black,
.task.icon-button.black {
  /* Warning this caused the headers size height to increase */
  /* Please adjust all paddings and margins accordingly */
  /* Look at the first project item it slightly cut at the top */
  /* display: none; */
  position: relative;
  top: 0.35rem;
  filter: invert(15%) sepia(3%) saturate(0%) hue-rotate(178deg) brightness(88%)
    contrast(100%);
}
.icon-image.black {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.1rem;
}

.project.error.error-container {
  position: relative !important;

  bottom: 1.2rem;
}

.task.error.error-container {
  position: relative !important;

  bottom: 0.6rem !important;
}

@media screen and (min-width: 450px) {
  #projects-list {
    width: 70vw;
    min-width: 310px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: inset -1px 0px 0px 0px #deffffcc,
      inset 1px 0px 0px 0px #deffffcc,
      0px 1px 0px 0px #deffffcc;
    box-shadow: inset -1px 0px 0px 0px #deffffcc,
      inset 1px 0px 0px 0px #deffffcc,
      0px 1px 0px 0px #deffffcc;
  }
  .item.project.list-header.first {
    width: 70vw;
    min-width: 310px;
    border-bottom: none;
  }
  .project-count-span {
    display: inline-block;
  }
}

@media screen and (min-width: 650px) {
  .projects-container {
    padding-top: 7.3rem;
  }
  #projects-list {
    width: 60vw;
  }
  .item.project.list-header.first {
    width: 60vw;
    min-height: 8.5rem;
    border-top: 5rem solid #343947 !important;
    top: 2.3rem;
  }
}

@media screen and (min-width: 850px) {
  .description-text.task {
    line-height: 1.75rem;
  }
  .project-count-span {
    display: inline-block;
    padding: 0.3rem 0.3rem;
    padding-top: 0.2rem;
  }
}

@media screen and (min-width: 1000px) {
  #projects-list,
  .item.project.list-header.first {
    width: 50vw;
  }
}

@media screen and (min-width: 1300px) {
  #projects-list,
  .item.project.list-header.first {
    width: 45vw;
  }
}

@media screen and (min-width: 1500px) {
  #projects-list,
  .item.project.list-header.first {
    width: 40vw;
  }
  .description-text.project {
    width: 75% !important;
  }
}

@media screen and (min-width: 1700px) {
  .description-text.project {
    width: 77% !important;
  }
}
