.projects-container {
  padding-top: 7.3rem;
  min-height: 100vh;
  background-color: #444;
}

#projects-list {
  width: 40vw;
}

.header-text.header.project {
  padding-bottom: 0.4rem;
  font-family: "Raleway", sans-serif !important;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.description-text.project {
  position: relative;
  left: 0.5rem;
  font-size: 1.1rem;
  color: #000;
}
