.tasks-container {
  padding-top: 4.5rem;
  padding-bottom: 5.5rem;
  min-height: 100vh;
  background-color: #343947;
}

#tasks-list {
  position: relative;
  /* width: 40vw; */
  width: calc(100vw - (100vw - 100%));
  top: 3.5rem;
}

.task.item {
  display: flex !important;
  align-items: center !important;
  padding: 0 !important;
  width: 100%;
  min-height: 3rem;
}

.task.content {
  width: 100% !important;
  padding: 0.25rem 1rem !important;
}

.task.list-header {
  border-top-color: #deffff00 !important;
  width: calc(100% - 3px);
  margin-left: 1.5px;
}

.item.task.list-header:hover {
  /* color: #beffff !important; */
  background-color: #304035;
}

.item.task.list-header.first {
  z-index: 10;
  background-color: rgb(197, 233, 194);
  border: none !important;
  border-top: 1rem solid #343947 !important;
  top: 3.5rem;
  width: calc(100vw - (100vw - 100%));
  margin-left: 0px;
  position: fixed;
  border-radius: 0;
  padding: 0.25rem 0 !important;
}

.task.list-header:nth-of-type(even) {
  background-color: rgba(200, 200, 255, 0.06);
}

.task.list-header:last-of-type {
  border-radius: 0 0 4px 4px;
}

.header-text.header.task {
  font-family: "Overlock", cursive;
  font-size: 1.4rem;
  /* text-transform: uppercase; */
  color: #222 !important;
  text-shadow: 1px 1px 0 #beffff;
  opacity: 1;
}

.task.list-checkbox {
  position: relative;
  top: 0.08rem;
  left: 0.1rem;
  width: 3rem;
  height: 3rem;
  font-family: "Raleway", sans-serif;
  background: none;
}

.description-text.task {
  position: relative;
  left: 0.5rem;
  font-size: 1.2rem;
  /* color: #deffff; */
  color: #fff;
  word-break: break-word;
}

.project-date-time-span {
  display: none;
  background-color: #befff431;
  margin: 0;
  margin-left: 1rem;
  border: 1px solid rgba(225, 255, 230, 0.301);
  border-radius: 10px;
}

.tasklist-date {
  position: relative;
  bottom: 0.09rem;
}

.time-hide-mobile.tasklist-time {
  position: relative;
  bottom: 0.09rem;
}

.task.icon-button {
  filter: invert(84%) sepia(97%) saturate(13%) hue-rotate(332deg)
    brightness(116%) contrast(73%);
}

@media screen and (min-width: 450px) {
  #tasks-list {
    width: 70vw;
    min-width: 310px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(221, 255, 221, 0.8),
      inset 1px 0px 0px 0px rgba(221, 255, 221, 0.8),
      0px 1px 0px 0px rgba(221, 255, 221, 0.8);
    box-shadow: inset -1px 0px 0px 0px rgba(221, 255, 221, 0.8),
      inset 1px 0px 0px 0px rgba(221, 255, 221, 0.8),
      0px 1px 0px 0px rgba(221, 255, 221, 0.8);
  }
  .item.task.list-header.first {
    width: 70vw;
    min-width: 310px;
    border-bottom: none;
  }
}

@media screen and (min-width: 650px) {
  .tasks-container {
    padding-top: 7.3rem;
  }
  #tasks-list {
    width: 60vw;
  }
  .item.task.list-header.first {
    width: 60vw;
    border-top: 5rem solid #343947 !important;
    top: 2.3rem;
  }
}

@media screen and (min-width: 850px) {
  .description-text.task {
    line-height: 1.75rem;
  }
  .project-date-time-span {
    display: inline-block;
    padding: 0 0.25rem;
  }
}

@media screen and (min-width: 1000px) {
  #tasks-list,
  .item.task.list-header.first {
    width: 50vw;
  }
  .task.list-checkbox {
    left: calc(0.1rem + 0.3vw);
  }
}

@media screen and (min-width: 1300px) {
  #tasks-list,
  .item.task.list-header.first {
    width: 45vw;
  }
}

@media screen and (min-width: 1500px) {
  #tasks-list,
  .item.task.list-header.first {
    width: 40vw;
  }
  .description-text.task {
    width: 75% !important;
  }
}

@media screen and (min-width: 1700px) {
  .description-text.task {
    width: 77% !important;
  }
  .task.list-checkbox {
    left: calc(0.1rem + 0.37vw);
  }
}
