.project.description-text {
  width: 70%;
  margin: 0;
}

.item-flex.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project.list-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30%; */
}

.icon-button {
  width: 3rem;
  height: 3rem;
  background-color: #0000;
  border: none;
}

.edit-button.icon-button:hover,
.edit-button.icon-button:focus {
  filter: invert(92%) sepia(6%) saturate(1213%) hue-rotate(80deg)
    brightness(107%) contrast(112%);
}

.delete-button.icon-button:hover,
.delete-button.icon-button:focus {
  filter: invert(58%) sepia(30%) saturate(981%) hue-rotate(311deg)
    brightness(109%) contrast(103%);
}

.icon-image {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}
