.project.description-text {
  width: 70%;
  margin: 0;
}

.item-flex.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project.list-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30%; */
}
