.login-page-container {
  width: calc(100vw - (100vw - 100%) + 0.5rem);
  padding-top: 2rem;
  /* padding-bottom: 5.5rem; */
  min-height: calc(100vh + 15.3rem);
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
}

#login-page-title-div {
  display: none;
  position: relative;
  /* for alternate design, get rid of left */
  left: 1.4rem;
}

#login-page-title-image {
  z-index: 99;
  position: absolute;
  display: inline-block;
  /* get rid of comments to switch to alternate design */
  /* height: 5rem;width: 5rem; */
  /* left: calc(50% - 2.5rem); */
  /* top: 0.4rem; */
  height: 3rem;
  width: 3rem;
  left: calc(50% - 8rem);
  margin-top: -0.55rem;
  /* filter: brightness(90%); */
}

#login-page-title {
  z-index: 100;
  display: block;
  position: relative;

  /* bottom: 0.4rem; */
  font-family: "Overlock", cursive;
  font-size: 2rem;
  height: 3.5rem;
  padding: 0;
  margin: 0 auto;
  margin-top: 0.4rem;
  color: #beffff;
  text-shadow: 1px 1px 1px #210, 1.5px 1.5px 2px #765b;
  text-align: center;
  text-transform: none;
}

.login-page-header {
  /*display: inline-block; */
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.35rem;
  font-family: "Raleway", sans-serif;
  /* text-shadow: 1px 1px 0 #beffff; */
  height: 3rem;
}

@media screen and (min-height: 450px) {
  .login-page-container {
    min-height: calc(87vh + 13rem);
    /* min-height: calc(100vh); */
  }

  #login-page-title-div {
    display: block;
  }
}

@media screen and (min-width: 650px) and (min-height: 650px) {
  #login-page-title-div {
    left: 1.4rem;
  }

  #login-page-title-image {
    height: 4rem;
    width: 4rem;
    left: calc(50% - 10.5rem);
    margin-top: -0.8rem;
  }

  #login-page-title {
    bottom: 0.4rem;
    font-size: 2.5rem;
    height: 3.5rem;
  }

  .login-page-container {
    min-height: calc(100vh + 2rem);
  }
}

@media screen and (min-width: 900px) and (min-height: 650px) {
  #login-page-title-div {
    left: 1.6rem;
  }
}
