.home-container {
  padding-top: 3.3rem;
  min-height: 100vh;
  /*
  background: linear-gradient(
    0deg,
    rgba(17, 19, 22, 1) 0%,
    rgba(40, 50, 55, 1) 45%,
    rgb(101, 112, 126) 85%,
    rgb(130, 150, 180) 100%
  );
  */
  background: linear-gradient(0deg, #343947 0%, #141927 100%)
}

.home-welcome-container {
  position: relative;
  top: calc(40vh - 8.75rem);
  margin: 0 auto;
}

.home-welcome.ui.segment {
  z-index: 2;
  position: relative;
  width: 30vw;
  min-width: 17.5rem;
  min-height: 10rem;
  margin: 0 auto;
  bottom: 3.4rem;
  background-color: rgba(28, 52, 78, 0.95);
  -webkit-box-shadow: 0px 0px 0px 1px #fff9b5, 0px 0px 0px 2px #ffc9b8,
    0px 0px 3px 2px #ffc580;
  box-shadow: 0px 0px 0px 1px #fff9b5, 0px 0px 0px 2px #ffc9b8,
    0px 0px 3px 2px #ffc580;
  border-radius: 20px;
}

#home-girl-container {
  background: url("../../images/yumemi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  left: 0.4rem;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
}
/* girlContainer.style.background = `url(${RoboImage})`;
girlContainer.style.backgroundSize = "contain";
girlContainer.style.backgroundRepeat = "no-repeat";
girlContainer.style.backgroundPosition = "50% 50%"; */

#home-paragraph {
  z-index: 2;
  font-size: 1.2rem;
  color: rgb(255, 254, 240);
  padding: 0 0.5rem;
  text-align: center;

  /*text-shadow: 1px 1px 0px #111;*/
}

.home-paragraph-button {
  color: #ffc580;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: inherit;
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 0px 0.5px #fff9b5;
}

.home-paragraph-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#home-button {
  display: none;
  font-size: 1.3rem;
  background-color: rgba(10, 0, 0, 0.2);
  border: 2px solid #111;
  border-radius: 3px;
  color: #111;
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
}

.home-lb-600-900 {
  display: none;
}

.home-lb-1400-1700 {
  display: none;
}

.home-lb-min-1700 {
  display: none;
}

@media screen and (min-width: 450px) and (min-height: 450px) {
  #home-girl-container {
    width: 12.5rem;
    height: 12.5rem;
  }
  .home-welcome.ui.segment {
    width: 30vw;
    bottom: 4.4rem;
    border-radius: 20px;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  #home-girl-container {
    width: 14rem;
    height: 14rem;
    left: 0.55rem;
  }
  /* .home-welcome-container {
    position: relative;
    top: calc(40vh - 8.75rem);
    margin: 0 auto;
  } */
  .home-welcome.ui.segment {
    width: 30vw;
    min-width: 21rem;
    bottom: 4.8rem;
    border-radius: 20px;
  }
  #home-paragraph {
    font-size: 1.35rem;
  }
  .home-lb-600-900 {
    display: block;
  }
}

@media screen and (min-width: 900px) and (min-height: 900px) {
  #home-girl-container {
    width: 16rem;
    height: 16rem;
    left: 0.55rem;
  }
  .home-welcome.ui.segment {
    width: 30vw;
    min-width: 27rem;
    bottom: 5.5rem;
    border-radius: 20px;
    padding: 1.25rem;
  }
  #home-paragraph {
    font-size: 1.4rem;
  }
  .home-paragraph-linebreak {
    display: block;
  }
  .home-lb-600-900 {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (min-height: 900px) {
  #home-girl-container {
    width: 18rem;
    height: 18rem;
    left: 0.55rem;
  }
  .home-welcome.ui.segment {
    width: 30vw;
    min-width: 29rem;
    min-height: 9.5rem;
    bottom: 6.25rem;
    border-radius: 20px;
    padding: 1.5rem;
  }
  #home-paragraph {
    font-size: 1.45rem;
  }
  .home-lb-max-1200 {
    display: none;
  }
}

@media screen and (min-width: 1400px) and (min-height: 900px) {
  .home-welcome.ui.segment {
    min-height: 10.2rem;
    padding: 1.75rem 1.25rem;
  }
  .home-lb-1400-1700 {
    display: block;
  }
}

@media screen and (min-width: 1700px) and (min-height: 900px) {
  .home-welcome.ui.segment {
    max-width: 36rem;
    padding: 2.25rem 1.25rem;
  }
  .home-lb-1400-1700 {
    display: none;
  }
  .home-lb-min-1700 {
    display: block;
  }
}
