ul {
  list-style-type: none;
}

.ui.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  min-height: 100vh;
}

.ui.menu .item {
  color: #beffff;
}

.ui.menu .item:hover {
  color: #eeffff !important;
}

.todolist.ui.segment {
  min-width: 280px;
  width: 60vw;
  background-color: #222;
  margin: 0 auto;
  padding: 0;
  border: none;
  /* border-radius: 5px; */
}

.todolist.ui.segment .item {
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

.item.list-header {
  /* background-color: #555; */
}

@media screen and (min-width: 450px) {
  .todolist.ui.segment {
    /* -webkit-box-shadow: 0px 0px 0px 0.5px #cfc, 0px 0px 0px 1px #beffff7e;
    box-shadow: 0px 0px 0px 0.5px #cfc, 0px 0px 0px 1px #beffff7e; */
  }
}
