ul {
  list-style-type: none;
}

.ui.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  min-height: 100vh;
}

.ui.menu .item {
  color: #beffff;
}

.ui.menu .item:hover {
  color: #eeffff !important;
}

.todolist.ui.segment {
  min-width: 280px;
  width: 60vw;
  background-color: #222;
  margin: 0 auto;
  padding: 0;
  border: none;
  /* border-radius: 5px; */
}

.todolist.ui.segment .item {
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

.item.list-header {
  /* background-color: #555; */
}

.create-button {
  position: relative;
  width: 3rem;
  height: 3rem;
  right: 1.35rem;
  background-color: #222;
  border: none;
  border-radius: 50%;
  color: rgb(164, 255, 155);
  font-size: 2.6rem;
}

.create-button:hover {
  background-color: #444;
  color: rgb(180, 255, 180);
}

.icon-button {
  width: 3rem;
  height: 3rem;
  background-color: #0000;
  border: none;
}

.edit-button.icon-button {
  position: relative;
  right: 0.8rem;
}

.edit-button.icon-button:hover {
  filter: invert(86%) sepia(10%) saturate(1332%) hue-rotate(68deg)
    brightness(105%) contrast(102%);
}

.delete-button.icon-button:hover {
  filter: invert(58%) sepia(30%) saturate(981%) hue-rotate(311deg)
    brightness(109%) contrast(103%);
}

.icon-image {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.form-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 1.8rem 0rem;
  padding-top: 2.5rem;
  width: 100%;
  min-height: calc(100vh + 15rem);
  -webkit-box-shadow: 0 0 0 2px #beffff;
  box-shadow: 0 0 0 2px #beffff;
  background-color: #202530dd;
  color: aliceblue;
}

.error.form-label.block {
  bottom: 0;
}

.small-text-link {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  color: aliceblue;
}

.small-text-link:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (min-height: 450px) {
  .form-container {
    min-height: calc(87vh + 13rem);
    padding-top: 6rem;
  }
}
@media screen and (min-width: 670px) {
  .create-button {
    right: 0.8rem;
  }
}

@media screen and (min-width: 750px) {
  .create-button {
    right: 0.5rem;
  }
}

@media screen and (min-width: 650px) and (min-height: 650px) {
  .form-container {
    left: calc(10vw);
    top: 6.8rem;
    padding: 2.5rem 2rem;
    /* padding-bottom: 2rem; */
    width: calc(80vw);
    min-height: 0;
    height: auto;
    /* max-height: 50rem; */
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 2px #beffffdd;
    box-shadow: 0 0 0 2px #beffffdd;
    background-color: #222732e4;
  }
}

@media screen and (min-width: 900px) and (min-height: 650px) {
  .form-container {
    left: calc(50vw - 20rem);
    width: 40rem;
  }
}
