.login-page-container {
  width: calc(100vw - (100vw - 100%) + 0.5rem);
  padding-top: 2rem;
  /* padding-bottom: 5.5rem; */
  min-height: calc(100vh + 15.3rem);
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
}

#login-page-title-div {
  display: none;
  position: relative;
  /* for alternate design, get rid of left */
  left: 1.4rem;
}

#login-page-title-image {
  z-index: 99;
  position: absolute;
  display: inline-block;
  /* get rid of comments to switch to alternate design */
  /* height: 5rem;width: 5rem; */
  /* left: calc(50% - 2.5rem); */
  /* top: 0.4rem; */
  height: 3rem;
  width: 3rem;
  left: calc(50% - 8rem);
  margin-top: -0.55rem;
  /* filter: brightness(90%); */
}

#login-page-title {
  z-index: 100;
  display: block;
  position: relative;

  /* bottom: 0.4rem; */
  font-family: "Overlock", cursive;
  font-size: 2rem;
  height: 3.5rem;
  padding: 0;
  margin: 0 auto;
  margin-top: 0.4rem;
  color: #beffff;
  text-shadow: 1px 1px 1px #210, 1.5px 1.5px 2px #765b;
  text-align: center;
  text-transform: none;
}

.login-page-form-container {
  /* position: relative; */
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  /* bottom: 5rem; */
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 1.8rem 0rem;
  padding-top: 2.5rem;
  /* width: calc(100vw - (100vw - 100%)); */
  width: calc(100vw - (100vw - 100%) + 0.5rem);
  min-height: calc(100vh + 15rem);
  -webkit-box-shadow: 0 0 0 2px #beffff;
  box-shadow: 0 0 0 2px #beffff;
  background-color: #202530dd;
  color: aliceblue;
}

.login-page-header {
  /*display: inline-block; */
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.35rem;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px 0 #beffff90;
  height: 3rem;
}

@media screen and (min-height: 450px) {
  .login-page-container {
    min-height: calc(87vh + 13rem);
    /* min-height: calc(100vh); */
  }

  #login-page-title-div {
    display: block;
  }

  .login-page-form-container {
    min-height: calc(87vh + 13rem);
    padding-top: 6rem;
  }
}

@media screen and (min-width: 650px) and (min-height: 650px) {
  #login-page-title-div {
    left: 1.4rem;
  }

  #login-page-title-image {
    height: 4rem;
    width: 4rem;
    left: calc(50% - 10.5rem);
    margin-top: -0.8rem;
  }

  #login-page-title {
    bottom: 0.4rem;
    font-size: 2.5rem;
    height: 3.5rem;
  }

  .login-page-container {
    min-height: calc(100vh + 2rem);
  }
  .login-page-form-container {
    left: calc(10vw);
    top: 6.8rem;
    padding: 2.5rem 2rem;
    /* padding-bottom: 2rem; */
    width: calc(80vw);
    min-height: calc(25rem);
    height: auto;
    /* max-height: 50rem; */
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 2px #beffffdd;
    box-shadow: 0 0 0 2px #beffffdd;
    background-color: #222732e4;
  }
}

@media screen and (min-width: 900px) and (min-height: 650px) {
  #login-page-title-div {
    left: 1.6rem;
  }
  .login-page-form-container {
    left: calc(50vw - 22.5rem);
    width: 45rem;
  }
}
