.error-page-container {
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: 100vh;
  background-color: #343947;
}

.error-page-message-container {
  /* background-color: #feed; */
  margin: 0 auto;
  padding: 1rem;
  /* border: 3px solid #f77; */
  border-radius: 10px;
  max-width: 40rem;
  color: aliceblue;
  font-size: 1.25rem;
}

.error-page-header {
  font-size: 2.5rem;
  text-shadow: 1px 1.5px 1px #66b;
  font-family: "Raleway", sans-serif;
}

.error-page-paragraph {
  font-size: 1.35rem;
}

.error-page-code {
  color: #fdd;
}

.error-page.transparent-bg-button {
  margin: 0 1rem;
  text-align: center;
  /* padding: 0.5rem; */
  border: 2px solid #ceffff;
  color: #ceffff;
}
