.error-page-container {
  padding: 1rem;
  padding-top: 4.5rem;
  padding-bottom: 5.5rem;
  min-height: 100vh;
  background-color: #343947;
}

.error-page-message-container {
  background-color: #feed;
  margin: 0 auto;
  padding: 1rem;
  border: 3px solid #f77;
  border-radius: 10px;
  max-width: 40rem;
}
