@import url("https://fonts.googleapis.com/css?family=Overlock|Raleway&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-width: 100% !important;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: absolute;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  min-width: 100% !important;
  min-height: 100vh;
  padding: 0;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}

main {
  position: absolute;
  background-color: pink;
  width: 100%;
  margin: 0;
  padding: 0;
  /*top: 3.5rem;*/
}

button {
  border: none;
}

button:hover,
input[type="submit"] {
  cursor: pointer;
}

button:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696,
    0px 0px 2px 3px #000000;
  box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696,
    0px 0px 2px 3px #000000;
}

input:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0.5px 1px #ffffff,
    inset 0px 0px 1px 2px #969696, inset 0px 0px 2px 3px #000000;
  box-shadow: inset 0px 0px 0.5px 1px #ffffff, inset 0px 0px 1px 2px #969696,
    inset 0px 0px 2px 3px #000000;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696,
    0px 0px 2px 3px #000000;
  box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696,
    0px 0px 2px 3px #000000;
}

div:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696,
    0px 0px 2px 3px #000000;
  box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696,
    0px 0px 2px 3px #000000;
}

li {
  list-style-type: none;
}

select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

textarea {
  resize: none;
  overflow: hidden;
}

.no-display.hide-png {
  display: none;
}

.no-display.hide-svg {
  display: none;
}
