.settings.icon-button {
  position: absolute;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  border-radius: 50%;
}

.settings.icon-button:hover {
  background-color: #1112;
}

.settings.icon-button.selected {
  background-color: #1112;
}

.icon-image.black {
  position: relative;
  left: 0.06rem;
  width: 2.5rem;
  height: 2.5rem;
}

.icon-image.black.selected {
  filter: invert(25%) sepia(4%) saturate(15%) hue-rotate(322deg) brightness(97%)
    contrast(91%);
}

.backdrop.settings {
}

.backdrop.settings.close {
  opacity: 0;
}

.settings.modal-container {
  position: relative;
  display: block;
  width: (100% - 1rem);
  max-width: 18rem;
  margin: calc(35vh - 6.5rem) auto;
  padding: 0.8rem 0;
  background-color: #333;
  webkit-box-shadow: 0 0 0 1px #beffff;
  box-shadow: 0 0 0 1px #beffff;
  border-radius: 3px;
  /*overflow: hidden;*/
  overflow-y: auto;
  max-height: calc(75vh);
  color: aliceblue;
  font-size: 1.15rem;
  font-family: "Raleway", sans-serif;
}

.settings-submenu-items {
  /* padding: 0 0.3rem; */
}

.settings-submenu-item {
  border-bottom: solid #eef4 1px !important;
}
.settings-submenu-item:last-of-type {
  border-bottom: none !important;
}
.settings-submenu-button {
  min-height: 3rem !important;
  line-height: 1.7rem;
  height: auto;
  width: 100% !important;
  background-color: #0000 !important;
  border-bottom: solid #eef4 1px !important;
  color: aliceblue !important;
  text-align: left;
  padding: 0.2rem 1rem;
  font-family: "Raleway", sans-serif !important;
}

.settings-submenu-button:last-of-type {
  border-bottom: none !important;
}

.settings-submenu-button.settings-delete-all {
  color: #fbb !important;
  text-shadow: 0 0 1px #f22 !important;
}

.settings-submenu-item:hover {
  color: white !important;
  background-color: #ddf3 !important;
}

@media screen and (min-width: 900px) {
  .backdrop.settings {
    background-color: #0000;
    height: 0;
  }
  #settings-submenu {
    position: fixed;
    margin: 0;
    left: 75vw;
    top: 9rem;
    padding: 0.6rem 0rem;
    width: 15rem;
  }
  .settings-submenu-item {
  }
  .settings.modal-container {
    animation: 0.2s modal-open;
  }
  .settings-submenu-button {
    animation: 0.2s modal-open-text;
  }
  .settings.modal-container.closed {
    animation: 0.2s modal-open-reverse;
  }
  .settings-submenu-button.closed {
    animation: 0.2s modal-open-text-reverse;
  }
}

@media screen and (min-width: 1000px) {
  #settings-submenu {
    left: 73.8vw;
  }
}
@media screen and (min-width: 1300px) {
  #settings-submenu {
    left: 71.15vw;
  }
}
@media screen and (min-width: 1500px) {
  #settings-submenu {
    left: 69vw;
  }
}

@keyframes modal-open {
  0% {
    height: 0rem;
    padding: 0;
  }
  25% {
    height: 1.5rem;
    padding: 0.2rem 0;
  }
  50% {
    height: 4.5rem;
    padding: 0.8rem 0;
  }
  75% {
    height: 9rem;
  }
  100% {
    height: auto;
  }
}

@keyframes modal-open-reverse {
  0% {
    height: auto;
  }
  25% {
    height: 9rem;
  }
  50% {
    height: 4.5rem;
    padding: 0.8rem 0;
  }
  75% {
    height: 1.5rem;
    padding: 0.2rem 0;
  }

  100% {
    height: 0rem;
    padding: 0;
  }
}

@keyframes modal-open-text {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-open-text-reverse {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
